<title>Cartelera</title>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="container">
        <iframe class="responsive-iframe" src="http://10.238.20.204:8088/indicadores.aspx"></iframe>
      </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div class="container">
        <iframe class="responsive-iframe" src="http://10.238.20.204:8088/bodegas.aspx"></iframe>
      </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div class="container">
        <iframe class="responsive-iframe" src="https://app.powerbi.com/view?r=eyJrIjoiNmM0YWJlMjQtYmUxNS00NGZlLWIyZDYtYWNlZmI4MmU5NTZhIiwidCI6IjdhMjEyOTc2LWY3YzctNDkwNS05NjYwLWVlYzAzNDlhOGE1MSIsImMiOjR9&pageName=ReportSection"></iframe>
      </div>
  </ng-template> 
  <ng-template carouselSlide>
    <div class="container">
        <iframe class="responsive-iframe" src="https://app.powerbi.com/view?r=eyJrIjoiNmM0YWJlMjQtYmUxNS00NGZlLWIyZDYtYWNlZmI4MmU5NTZhIiwidCI6IjdhMjEyOTc2LWY3YzctNDkwNS05NjYwLWVlYzAzNDlhOGE1MSIsImMiOjR9&pageName=ReportSection&pageName=ReportSection54335601cc67878c3709"></iframe>
      </div>
  </ng-template> 
  <ng-template carouselSlide>
    <div class="container">
        <iframe class="responsive-iframe" src="https://app.powerbi.com/view?r=eyJrIjoiNmM0YWJlMjQtYmUxNS00NGZlLWIyZDYtYWNlZmI4MmU5NTZhIiwidCI6IjdhMjEyOTc2LWY3YzctNDkwNS05NjYwLWVlYzAzNDlhOGE1MSIsImMiOjR9&pageName=ReportSection&pageName=ReportSection9f11a03c2654ca0dd053"></iframe>
      </div>
  </ng-template> 
  <ng-template carouselSlide>
    <div class="container">
        <iframe class="responsive-iframe" src="https://app.powerbi.com/view?r=eyJrIjoiNmM0YWJlMjQtYmUxNS00NGZlLWIyZDYtYWNlZmI4MmU5NTZhIiwidCI6IjdhMjEyOTc2LWY3YzctNDkwNS05NjYwLWVlYzAzNDlhOGE1MSIsImMiOjR9&pageName=ReportSection&pageName=ReportSection98b16fbd820d415ee071"></iframe>
      </div>
  </ng-template> 
  <ng-template carouselSlide>
    <div class="container">
        <iframe class="responsive-iframe" src="https://app.powerbi.com/view?r=eyJrIjoiNmM0YWJlMjQtYmUxNS00NGZlLWIyZDYtYWNlZmI4MmU5NTZhIiwidCI6IjdhMjEyOTc2LWY3YzctNDkwNS05NjYwLWVlYzAzNDlhOGE1MSIsImMiOjR9&pageName=ReportSection&pageName=ReportSectionb5eb3217422892a71289"></iframe>
      </div>
  </ng-template> 
  <ng-template carouselSlide>
    <div class="container">
        <iframe class="responsive-iframe" src="https://app.powerbi.com/view?r=eyJrIjoiNmM0YWJlMjQtYmUxNS00NGZlLWIyZDYtYWNlZmI4MmU5NTZhIiwidCI6IjdhMjEyOTc2LWY3YzctNDkwNS05NjYwLWVlYzAzNDlhOGE1MSIsImMiOjR9&pageName=ReportSection&pageName=ReportSectionfbaa554ad4e50c800729"></iframe>
      </div>
  </ng-template> 
  <ng-template carouselSlide>
    <div class="container">
        <iframe class="responsive-iframe" src="https://app.powerbi.com/view?r=eyJrIjoiMDhiNjI3YWQtNDk2ZS00ZjdmLTgyMWYtNjE1NjVhMWRhM2IxIiwidCI6IjdhMjEyOTc2LWY3YzctNDkwNS05NjYwLWVlYzAzNDlhOGE1MSIsImMiOjR9&pageName=ReportSection"></iframe>
      </div>
  </ng-template> 
  <ng-template carouselSlide>
    <div class="container">
        <iframe class="responsive-iframe" src="https://app.powerbi.com/view?r=eyJrIjoiMDhiNjI3YWQtNDk2ZS00ZjdmLTgyMWYtNjE1NjVhMWRhM2IxIiwidCI6IjdhMjEyOTc2LWY3YzctNDkwNS05NjYwLWVlYzAzNDlhOGE1MSIsImMiOjR9&pageName=ReportSection&pageName=ReportSectionc41b97913407486f80c9"></iframe>
      </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="container">
        <iframe class="responsive-iframe" src="https://app.powerbi.com/view?r=eyJrIjoiMDhiNjI3YWQtNDk2ZS00ZjdmLTgyMWYtNjE1NjVhMWRhM2IxIiwidCI6IjdhMjEyOTc2LWY3YzctNDkwNS05NjYwLWVlYzAzNDlhOGE1MSIsImMiOjR9&pageName=ReportSection&pageName=ReportSectiond5614890d9726ed76a4b"></iframe>
      </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="container">
        <iframe class="responsive-iframe" src="https://app.powerbi.com/view?r=eyJrIjoiMDhiNjI3YWQtNDk2ZS00ZjdmLTgyMWYtNjE1NjVhMWRhM2IxIiwidCI6IjdhMjEyOTc2LWY3YzctNDkwNS05NjYwLWVlYzAzNDlhOGE1MSIsImMiOjR9&pageName=ReportSection&pageName=ReportSectionb5caa3d74954944a2816"></iframe>
      </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="container">
        <iframe class="responsive-iframe" src="https://app.powerbi.com/view?r=eyJrIjoiMDhiNjI3YWQtNDk2ZS00ZjdmLTgyMWYtNjE1NjVhMWRhM2IxIiwidCI6IjdhMjEyOTc2LWY3YzctNDkwNS05NjYwLWVlYzAzNDlhOGE1MSIsImMiOjR9&pageName=ReportSection&pageName=ReportSectionb59a7db79cc24956752b"></iframe>
      </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="container">
        <iframe class="responsive-iframe" src="https://app.powerbi.com/view?r=eyJrIjoiMDhiNjI3YWQtNDk2ZS00ZjdmLTgyMWYtNjE1NjVhMWRhM2IxIiwidCI6IjdhMjEyOTc2LWY3YzctNDkwNS05NjYwLWVlYzAzNDlhOGE1MSIsImMiOjR9&pageName=ReportSection&pageName=ReportSection52369a26ee8154d8d9f6"></iframe>
      </div>
  </ng-template>
</owl-carousel-o>