<h1 mat-dialog-title>Configurar molinete</h1>
<div mat-dialog-content>
    <!--
  <p>What's your favorite animal?</p>
  <mat-form-field appearance="fill">
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.info.nombre">
    
  </mat-form-field>
  -->
  <h4>Molinete a configurar</h4>
    <mat-form-field appearance="fill">
    <mat-label>Selecione un elemento</mat-label>
    <mat-select [(ngModel)]="data.molinete">
        <mat-option *ngFor="let option of receptorList" [value]="option">{{ option.MOLI_IP }}</mat-option>
    </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Configurar</button>
</div>