<title>Accesos</title>
<h2>{{molinete.EAC_DESC}}</h2>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form (ngSubmit)="marcaje()">
			<img src="https://www.combexim.com.gt/consultas/images/logo.png" style="max-height: 80px;">
			<span>Gafete</span>
			<input AccesoComponent autocomplete="off" id="inputGafete" type="text" placeholder="#gafete" name="gafete" [(ngModel)]="gafete"/>
			<mat-error *ngIf="TipoAcceso.tipo!==0">Espere unos segundos para poder marcar gafete.</mat-error>
			<button type="submit" >Buscar</button>
			<div class="form-group">
				<span>MOLI_DIRECCION</span>
				<input type="text" class="form-control"  name="MOLI_DIRECCION" [(ngModel)]="molinete.MOLI_DIRECCION">
				<mat-slide-toggle class="form-control" (change)="getVoices()"
					class="example-margin"
					[color]="color"
					[checked]="checkedVoz" [(ngModel)]="checkedVoz" name="checkedVoz">
					Activar voz
				</mat-slide-toggle>
				<!--<select  class="form-control" id="voiceSelect"></select>-->
				<select [disabled]="!checkedVoz" id="voiceSelect" name="nameEquipo" [(ngModel)]="voicesSelected" class="form-control">
					<option *ngFor="let option of vocesList; let i = index" [value]="i" >
					 {{ option.lang }} || {{ option.name }}
					</option>
				</select>
				<mat-slide-toggle class="form-control"
					class="example-margin"
					[color]="color"
					[checked]="checkedUltimaEntrada" [(ngModel)]="checkedUltimaEntrada" name="checkedUltimaEntrada">
					Verificar ultima entrada
				</mat-slide-toggle>
			</div>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				
				<div *ngIf="TipoAcceso.tipo==1" >
					<!--<img src="{{'http://vm-webpage-02:8089/sideima/' + gafeteModel.FOTO}}" style="max-height: 300px;max-height: 250px;">-->

					<div *ngIf="!gafeteModel.FOTO" >
						<mat-spinner></mat-spinner>
					</div>

					<img src="{{gafeteModel.FOTO}}" style="max-height: 400px;max-height: 350px;">
					<h2>{{gafeteModel.NOMBRE}}</h2>
					<h2>{{gafeteModel.GAFD_GAFETE}}</h2>
					<H3>{{gafeteModel.LINAGEN_NOM}}</H3>
					<h2 style="background: #deff21; color: #131313;">ACCESO: {{ this.resAcceso ? "AUTORIZADO":"DENEGADO" }}</h2>
					<h2 style="background: #ff1515;color: #131313;">{{gafeteModel.ALERTA}}</h2>
				</div>
				<div *ngIf="TipoAcceso.tipo==2" >
					<img src="{{gafeteModel.FOTO}}" style="max-height: 400px;max-height: 350px;">
					<h2>{{gafeteModel.NOMBRE}} - {{gafeteModel.GAF_SIGLAS}}</h2>
					<h2>{{gafeteModel.GAF_GAFETE}}</h2>
					<h2>{{gafeteModel.LINAGEN_NOM}}</h2>
					<h3>{{gafeteModel.FECHA}}</h3>
					<h2 style="background: #deff21;color: #131313;">ACCESO: {{ this.resAcceso ? "AUTORIZADO":"DENEGADO" }}</h2>
				</div>
				<div *ngIf="TipoAcceso.tipo==100">
					<div >
						<img src="https://image.flaticon.com/icons/png/128/3922/3922227.png" style="height: 300px;height: 250px;">
						<h2>Error: {{TipoAcceso.descripcion}}</h2>	
					</div>
				</div>

				

			</div>
		</div>
	</div>
</div>

<footer>
    <h4>
        <i class="fas fa-wifi"></i>
        <strong> Connected: </strong>
        <a class="resaltar">{{statusMoli.estado}}</a>
        - <i class="fas fa-door-closed"></i><strong> Puerta: </strong> <a class="resaltar">{{statusPuerta}}</a>
        <div *ngIf="statusMoli.error!=''">
            - <strong> Error: </strong> <a class="resaltar">{{statusMoli.error}}</a>
        </div>
        
    </h4>
	
</footer>

