<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <div class="profile-menu">
            <p><a><span class="scnd-font-color"></span></a></p>
            <div class="profile-picture small-profile-picture">
                <img width="40px" alt="gafete png" [src]= newimg>
            </div>
        </div>
        <p id="name">{{array.NOMBRE}}</p>
      <a class="navbar-brand scnd-font-color"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li>
            <a class="header-menu-tab" href="expobascula/mainExpo"><span class="icon entypo-back scnd-font-color"></span>Regresar</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<body>
    <div class="pantalla-container">
        <iframe class="pantalla" src="http://10.238.20.206/consultas/guias_expoPubli.php" title="Modificación Pase Vehicular"></iframe>
    </div>
</body>
